.ellipse-1 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 500px;
    margin-left: 602px;
    margin-top: -605px;
    width: 386px;
    position: absolute;
    z-index: 1;
   }

   .ellipse-2 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: -860px;
    margin-left: -56px;
    width: 386px;
    position: absolute;
   }

   .ellipse-3 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: -1090px;
    margin-left: 1454px;
    width: 386px;
    position: absolute;
   }

   .ellipse-4 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 800px;
    width: 386px;
    position: absolute;
   }

   .ellipse-5 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 420px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
    z-index: 1;
   }

   .ellipse-6 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 380px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-7 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 1700px;
    width: 386px;
    position: absolute;
   }

   .ellipse-8 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 1500px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-9 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 1400px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-10 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 2600px;
    width: 386px;
    position: absolute;
   }

   .ellipse-11 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 2300px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-12 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 2200px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-13 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 3550px;
    width: 386px;
    position: absolute;
   }

   .ellipse-14 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 3200px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-15 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 3000px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-16 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 4400px;
    width: 386px;
    position: absolute;
   }

   .ellipse-17 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 4200px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-18 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 4100px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-19 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 5200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-20 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 5100px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-21 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 5000px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-22 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 5900px;
    width: 386px;
    position: absolute;
   }

   .ellipse-23 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 5800px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-24 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 5700px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-25 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 6700px;
    width: 386px;
    position: absolute;
   }

   .ellipse-26 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 6600px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-27 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 6500px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }

   .ellipse-28 {
    align-self: flex-end;
    background-color: #4DAEDA;
    border-radius: 343px;
    filter: blur(200px);
    height: 390px;
    margin-left: 602px;
    margin-top: 7400px;
    width: 386px;
    position: absolute;
   }

   .ellipse-29 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(180px);
    height: 390px;
    margin-top: 7200px;
    margin-left: -200px;
    width: 386px;
    position: absolute;
   }

   .ellipse-30 {
    align-self: center;
    background-color: #4DAEDA;
    border-radius: 258px;
    filter: blur(200px);
    height: 390px;
    margin-top: 7200px;
    margin-left: 1445px;
    width: 386px;
    position: absolute;
   }
